

.card{
    width: 520px;
    min-height:560.27px;
    border: 1px solid gray;
    border-radius: 3rem;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    text-align: center;
    background-color:  #406ff075; ;
    box-shadow: rgba(0, 0, 0, 0.568) 15px 15px 15px;
    border: 2px solid black;
}
.card h2{
    color: #000000;
    font-size: 1.3rem;
}
.card h3{
    color: #000000;
}
.pet-image {
    width: 100%;
   
}
   .pet-image img{
    width: 100%;
  
    border-top-right-radius: 3rem;
    border-top-left-radius: 3rem;
    object-fit: cover;
    height: 300px;
}
.card p{
    margin:8px;
    color: #000000;
}


@media (max-width: 992px){
    .card{ 
        width: 480px;
        min-height:510.27px;
     }    
     .card h2{     
        font-size: 1.2rem;
    }
    .card h3{
        font-size: 1.1rem;
    }
    .card p{
        margin:8px;
        color: #000000;
        font-size: 1rem;
    }
}

@media(max-width: 768px){
   .card{ 
       width: 450px;
       min-height:480.27px;
    }    
    .card h2{     
        font-size: 1.1rem;
    }
    .card h3{
        font-size: 1rem;
    }
    .card p{
        margin:8px;
        color: #000000;
        font-size: 0.9rem;
    }
}

@media(max-width: 576px){
    .card{ 
        width: 380px;
        min-height:400.27px;
     }  .card h2{     
        font-size: 1rem;
    }
    .card h3{
        font-size: 0.9rem;
    }
    .card p{
        margin:8px;
        color: #000000;
        font-size: 0.8rem;
    }
 }


















