header {
    height: 200px;
    margin-bottom: 4rem;
}

header h1 {
    text-align: center;
    color: #ffb637;
    margin: 3rem 0;

}

nav {
    display: flex;
    height: 7rem;

    align-items: center;

}

nav>img {
    height: 100%;
    margin-left: 10px;
    border-radius: 7rem;


}

img {
    width: 6%;
}

ul {
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    align-items: center;
}


.botones{
    width: 400px;
}
.botones li button{
    color: black;
    background-color: black;
    

}