footer p{
     color: #ffb637; 
     text-align: center;
     text-transform: uppercase;
     font-size: 1.5rem;
}

footer{
   border: 1px solid black;
}

@media(max-width: 768px){

     footer p{
        font-size: 18px;
     }
   }
   @media(max-width: 576px){
   
  footer p {
        font-size: 14px;
     }
   }
   