* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

a {
    text-decoration: none;
    color: inherit;
}


li {
    list-style-type: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #1e2336;
}

h1,h2 {
    color: #ffb637;
}
h2{
    font-size: 2rem;
}
p {
    color: #ffb637;
}
 a {
    color: #f3ddedd6;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5rem;

}

 a:hover {
    cursor: pointer;
    color: #fca819;
}
input{
    width: 16rem;
    font-size: 16px;
}
label{
    color: rgb(234, 237, 240);
    font-size: 1.3rem;
}
button{
    background: transparent;
    color: rgb(24, 23, 21);
    font-size: 1.3rem;
    background-color: wheat;
    width: 6rem;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
}